# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Matlab files
*.asv

# Output files
*.png
*.csv
fdfd_c/.vscode/settings.json
.vscode/settings.json
*.mp4
*.avi
fdtd_c/fdtd
*/test
